!!! 5
html
  head
    title Download Statistics
    link(rel="stylesheet", type="text/css", href="http://jsconf.s3.amazonaws.com/style.css")
    link(rel="shortcut icon", href="http://arewefirstyet.com/favicon.png")
  body
    header
      h1 Downloads
    p#empty
      = "No downloads yet."
